/Software/Build/*.X/build
/Software/Build/*.X/dist
/Software/Build/*.X/nbproject/private
/Software/Build/*.X/nbproject/Makefile-*
/Software/Build/*.X/nbproject/Package-*
.DS_Store
*.dSYM
*.bak
*.ce3$
*.net
*.rpt
/Software/Source/Modules/Uart/uart_printf
/Software/Source/Modules/queue
