/Software/Build/*/*.X/build
/Software/Build/*/*.X/dist
/Software/Build/*/*.X/nbproject/private
/Software/Build/*/*.X/nbproject/Makefile-genesis.properties
/Software/Build/*/*.X/nbproject/Makefile-local-*.mk
.DS_Store
*.bak
*.ce3$
*.net
*.rpt