/Software/Build/*.X/build
/Software/Build/*.X/dist
/Software/Build/*.X/nbproject/private
/Software/Build/*.X/nbproject/Makefile-*
/Software/Build/*.X/nbproject/Package-*
/Software/Documents/html
/Software/Documents/*.out
/Software/Source/Modules/Uart/uart_printf
/Software/Source/Modules/queue
.DS_Store
*.dSYM
*.bak
*.ce3$
*.net
*.rpt
*.orig
*.?#?
GPATH
GRTAGS
GTAGS
/Software/Source/Modules/Bluetooth/HciDefs/hcidefs
